<div class="video_index">
  <h1>Video Index</h1>

  <% @videos.each do |video| %>
  <p>
    Video_ID: <%= link_to(video.video_id, "/video/#{video.id}") %>
    <br>
    Viewers: <%= video.VideoUsage.count %>
  </p>
  <% end %>
</div>
