.new_video_form {
  text-align: center;
}

.video_index {
  text-align: center;
}

.video_view {
  text-align: center;
}



/* added css grid because I wanted to show the viewers on each video screen but when I
adjusted the bottom border to show 50%, it automatically kept my object pushed to the Left.
So I added a 3 column grid and made sure to enter my data only on the 2nd column */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #81ecec;
  padding: 10px;
}

.viewer {
  grid-column-start: 2;
  grid-column-end: 2;
  border-bottom: 1px solid black;
}

.alert {
  color: red;
  font-weight: bold;
}
